.container{
    height: 300px;
    width: 600px;
    background-color: rgb(145, 188, 188);
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px ;
    /* row-gap: 40px;
    column-gap: 40px; */
    grid-gap: 60px;
}
.item{
    text-align: center;
    height: 50px;
    border: black solid;
    width:100px;
    background-color:rgb(255, 217, 0);
}